.clone_bg{
  width: 100vw; height: 300vh;
  overflow: hidden;
}
.clone_site{
  position: absolute; top: 0;
  width: 100vw; height: 200vh;
  color: #fff;
  font-family: 'DungGeunMo';
}
.clone_site>h3{
  font-size: 3vw;
  margin-left: 100px;
}
.clone_site>ul{
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}
.clone_site>ul>li{
  list-style: none;
  font-size: 40px;
  position: relative;
  margin-bottom: 200px;
}
.clone_site>ul>li>h4{
  display: inline-block;
}

.tools{
  display: inline-block;
  margin-left: 20px;
}
.tools img{
  margin-bottom: -10px;
  width: 50px; height: 50px;
}

.pj_info>ul>li{
  list-style: none;
  font-size: 25px;
  line-height: 60px;
}


.pj_viewer{
  position: absolute; top: 150px; right: 950px;
  float: right;
}
.pj_viewer .logo_img{
  z-index: -1;
  position: absolute; top: -80px; left: -150px;
  width: 300px;
  opacity: 0.7;
}
.pj_viewer>video{
  position: absolute; left: 0; top: 6px;
  width: 800px;
  z-index: 10;
}

.pj_viewer .pc_mockup{
  position: absolute;
  width: 800px; height: 385px;
}
.pj_viewer:nth-of-type(2) .pc_mockup{
  height: 390px;
}