.outtro{
  position: relative;
  width: 100vw; height: 90vh;
  margin-top: 5vh;
  overflow: hidden;
}
.out_title{
  text-align: center;
}
.out_title>h2{
  display: inline-block;
  color: #fff;
  font-size: 50px;
  font-family: 'DungGeunMo';
  margin: 0 3vw;
  padding-top: 20vh;
}
.spaceship{
  position: relative; top: 0.5vw;
  display: inline-block;
  width: 5vw; height: 3vw;
  transform: rotate(-30deg);
}
.char{
  position: absolute; left: 0; top: 50%;
  transform: translateY(-50%);
  width: 20vw; height: 20vw;
  animation: char linear 8s;
  opacity: 0;
}
@keyframes char {
  0%{opacity: 0;}
  0.001%{transform: rotate(0deg); left: 0; opacity: 1;}
  25%{transform: rotate(360deg); left: 30vw;}
  50%{transform: rotate(720deg); left: 60vw;}
  75%{transform: rotate(1080deg); left: 90vw;}
  100%{transform: rotate(1440deg); left: 120vw; opacity: 1;}
}

.contact{
  text-align: center;
  margin-top: 50px;
}
.contact>.list{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.list span{
  color: #fff;
  font-family: 'DungGeunMo';
  font-size: 30px;
  margin-top: 5vh;
}
.list span:nth-of-type(even){
  color: #aaa;
  margin-top: 0.3vw;
}
.list>span>a{
  text-decoration: none;
  color: #fff;
}
.list>span:last-of-type{
  font-size: 0.8vw;
  margin-top: 0;
}

.topBtn{
  position: absolute; bottom: 30px; left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  padding: 3px;
  border-radius: 5px;
}
.topBtn button{
  text-align: center;
  display: inline-block;
  margin:5px;
  padding: 10px 5px 10px 10px ;
  background-color: lightgray;
  text-shadow: -1px -1px black, 1px 1px white;
  color: gray;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  cursor: pointer;
  box-shadow: 0 .2em gray;
  font-family: 'DungGeunMo';
  font-size: 20px;
}
.topBtn button:active{
  box-shadow: none;
  position: relative;
  top: .2em;
}


/* mobile */
@media screen and (max-width: 768px) {
  .out_title>h2{
    font-size: 30px;
  }
  .list span{
    font-size: 25px;
  }
  .spaceship{
    transform: scale(1.5) rotate(-30deg);
  }
}