.wrapper{
  width: 100vw; height: 100vh;
  z-index: 10000;
  font-family: 'DungGeunMo';
}
.modal{
  width: 78vw; height: 80vh;
  position: absolute; left: 50%; top: 12vh;
  transform: translateX(-50%);
  background-color: #000;
  border-radius: 10px;
  z-index: 10000;
}
.modal.active{
  animation: up 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
}
@keyframes up {
  0%{top: 100vh; opacity: 0;}
  100%{top: 12vh; opacity: 1;}
}
.modal_inner{
  position: absolute; left: 50%; top: 4%;
  transform: translateX(-50%);
  width: 96%; height: 92%;
  border: 1px solid #eaeaea;
}
.modal_inner>h4{
  font-size: 50px;
  margin: 50px 0;
  text-align: center;
}
.modal_inner>ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal_inner>ul>li{
  margin-left: -40px;
  list-style: none;
  color: #fff;
  font-size: 35px;
  margin-top: 30px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
}
<<<<<<< HEAD
.modal_inner>ul>li>a{
  text-decoration: none;
  color: #fff;
}
=======
>>>>>>> f11e2d14e040b78097add33c3108bbcbd0ef562b

.homeBtn{
  position: absolute; bottom: 8%; left: 50%;
  transform: translateX(-50%);
  padding: 3px;
  border-radius: 5px;
}
.homeBtn button{
  text-align: center;
  display: inline-block;
  margin:5px;
  padding: 10px 5px 10px 10px ;
  background-color: lightgray;
  text-shadow: -1px -1px black, 1px 1px white;
  color: gray;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  cursor: pointer;
  box-shadow: 0 .2em gray;
  font-family: 'DungGeunMo';
  font-size: 20px;
}
.homeBtn button:active{
  box-shadow: none;
  position: relative;
  top: .2em;
}

@media screen and (max-width: 768px) {

  .homeBtn{
  }
}