.projects{
  position: relative;
  height: 100vh;
  overflow: hidden;
  color: #fff;
  font-family: 'DungGeunMo';
}
.projects>h2{
  font-size: 3vw;
  margin: 0;
  padding-top: 10vh;
  text-align: center;
}
.projects>ul{
  position: absolute; left: 50%; top: 20vh;
  transform: translateX(-50%);
}
.projects>ul>li{
  list-style: none;
}
.projects>ul>li:nth-of-type(1){
  position: absolute; left: -45vw; top: 0;
}
.projects>ul>li:nth-of-type(2){
  position: absolute; left: 15vw; top: 10vh;
}
.projects>ul>li:nth-of-type(3){
  position: absolute;  left: -20vw; top: 35vh;
}

.projects>ul>li>a{
  display: block;
  width: 22vw;
  text-decoration: none;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects>ul>li>a>img{
 width: 7vw; height: 9vw;
}
.projects>ul>li>a>span{
  font-size: 1.5vw;
}


.homeBtn{
  position: absolute; bottom: 0; left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  padding: 3px;
  border-radius: 5px;
}
.homeBtn button{
  text-align: center;
  display: inline-block;
  margin:5px;
  padding: 10px 5px 10px 10px ;
  background-color: lightgray;
  text-shadow: -1px -1px black, 1px 1px white;
  color: gray;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  cursor: pointer;
  box-shadow: 0 .2em gray;
  font-family: 'DungGeunMo';
  font-size: 20px;
}
.homeBtn button:active{
  box-shadow: none;
  position: relative;
  top: .2em;
}