.projects{
  position: relative;
  width: 100vw; height: 100vh;
  overflow: hidden;
  color: #fff;
  font-family: 'DungGeunMo';
}
.projects>h2{
  font-size: 50px;
  margin: 0;
  text-align: center;
  margin-top: 25vh;
}
.projects>ul{
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-top: 150px;
}
.projects>ul>li{
  list-style: none;
}

.projects>ul>li>a{
  display: block;
  width: 22vw;
  text-decoration: none;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects>ul>li>a>img{
 width: 140px; height: 160px;
}
.projects>ul>li>a>span{
  display: block;
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
}

/* mobile */
@media screen and (max-width: 768px) {
  .projects>h2{
    font-size: 30px;
    padding-top: 10vw;
  }
  .projects>ul{
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  .projects>ul>li{
    margin-bottom: 30px;
  }
  .projects>ul>li>a>img{
    width: 100px; height: 120px;
   }
  .projects>ul>li>a>span{
    width: 230px;
    text-align: center;
    font-size: 15px;
  }
}