.pure_bg{
  width: 100vw; height: 100vh;
  overflow: hidden;
}
.pure_css{
  width: 100vw;
  position: absolute; top: 0;
  color: #fff;
  font-family: 'DungGeunMo';
}
.pure_css>h3{
  font-size: 3vw;
  margin-left: 100px;
}
.pure_css>ul{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.pure_css>ul>li{
  font-size: 40px;
  list-style: none;
  line-height: 30px;
}
.pure_css>ul>li>h4{
  font-size: 2.5vw;
  margin: 0;
}
.pure_css>ul>li>ul{
  margin-top: 30px;
}
.pure_css>ul>li>ul>li{
  list-style: none;
  font-size: 20px;
}
.pure_css video{
  transform: scale(0.8);
}


.backBtn{
  position: absolute; bottom: -50px; left: 50%;
  transform: translateX(-50%);
  background-color: #3b3b3b;
  padding: 3px;
  border-radius: 5px;
}
.backBtn button{
  background-color: transparent;
  border: 1px solid #b2b2b2;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: 'DungGeunMo';
  font-size: 1.2rem;
  color: #eaeaea;
  cursor: pointer;
}

/* tablet */
@media screen and (min-width:769px) and (max-width: 1024px) {
  .pure_bg{
    height: 200vh;
  }
  .pure_css>h3{
    font-size: 4vw;
    margin: 0;
    margin-top: 45px;
    margin-left: 50px;
  }
  .pure_css>ul{
    flex-direction: column;
    margin-top: 0;
  }
  .pure_css>ul>li{
    width: 100vw;
    padding-left: 200px;
    margin-top: 50px;
    margin-bottom: 100px;
  }
  .pure_css>ul>li>ul{
    margin-left: -40px;
  }
  .pure_css video{
    margin-left: -50px;
  }
  .pure_css>ul>li:nth-of-type(2)>video{
    margin-left: -80px;
  }
  .backBtn{
    bottom: -100px;
  }
}

/* mobile */
@media screen and (max-width: 768px) {
  .pure_bg{
    height: 200vh;
  }
  .pure_css>h3{
    font-size: 4vw;
    margin: 0;
    margin-top: 45px;
    margin-left: 50px;
  }
  .pure_css>ul{
    flex-direction: column;
    margin-top: 0;
  }
  .pure_css>ul>li{
    width: 100vw;
    padding-left: 70px;
    margin-top: 50px;
    margin-bottom: 150px;
  }
  .pure_css>ul>li>h4{
    font-size: 20px;
    margin-left: 30px;
  }
  .pure_css video{
    transform: scale(0.6);
    margin-left: -70px;
  }
  .pure_css>ul>li:nth-of-type(2)>video{
    margin-left: -220px;
    transform: scale(0.4);
  }
  .pure_css>ul>li>ul{
    margin-top: -30px;
    width: 72vw;
  }
  .pure_css>ul>li>ul>li{
    margin-left: -10px;
    font-size: 17px;
  }
  .backBtn{
    bottom: -100px;
  }
}