.react_bg{
  width: 100vw; height: 200vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.react_app{
  position: absolute; top: 0;
  width: 100vw;
  color: #fff;
  font-family: 'DungGeunMo';
}
.react_app>h3{
  font-size: 50px;
  margin-left: 100px;
}
.react_app>ul{
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}
.react_app>ul>li{
  list-style: none;
  font-size: 40px;
  position: relative;
  margin-bottom: 350px;
  margin-top: 100px;
}
.react_app>ul>li>h4{
  display: inline-block;
}



.tools{
  display: inline-block;
  margin-left: 20px;
}
.tools img{
  margin-bottom: -10px;
  width: 50px; height: 50px;
}

.pj_info>ul>li{
  list-style: none;
  font-size: 25px;
  line-height: 60px;
}


.app_viewer{
  position: absolute; top: 50px; right: 600px;
}
.app_viewer .logo_img{
  z-index: -1;
  position: absolute; top: -80px; left: -110px;
  opacity: 0.7;
  width: 150px;
}
.react_app>ul>li:last-of-type .logo_img{
  position: absolute; left: -510px;
}
.app_viewer .mob_video{
  z-index: -1;
  position: absolute; left: 10px; top: 5px;
  width: 200px;
  border-radius: 20px;
}
.app_viewer .mob_mockup{
  width: 215px; height: 380px;
}
.app_viewer .pc_video{
  z-index: 10;
  position: absolute; left: -400px; top: 10px;
  width: 800px;
}
.app_viewer .pc_mockup{
  position: absolute; right: -400px;
  width: 800px; height: 390px;
}


.backBtn3{
  position: absolute; left: 50%; bottom: 70px;
  transform: translateX(-50%);
  background-color: transparent;
  padding: 3px;
  border-radius: 5px;
}
.backBtn3 button{
  text-align: center;
  display: inline-block;
  margin:5px;
  padding: 10px 5px 10px 10px ;
  background-color: lightgray;
  text-shadow: -1px -1px black, 1px 1px white;
  color: gray;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  cursor: pointer;
  box-shadow: 0 .2em gray;
  font-family: 'DungGeunMo';
  font-size: 20px;
}

.topBtn3{
  position: absolute; bottom: 0; left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  padding: 3px;
  border-radius: 5px;
}
.topBtn3 button{
  text-align: center;
  display: inline-block;
  margin:5px;
  padding: 10px 5px 10px 10px ;
  background-color: lightgray;
  text-shadow: -1px -1px black, 1px 1px white;
  color: gray;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  cursor: pointer;
  box-shadow: 0 .2em gray;
  font-family: 'DungGeunMo';
  font-size: 20px;
}
.topBtn3 button:active{
  box-shadow: none;
  position: relative;
  top: .2em;
}