.wrapper{
  width: 100vw; height: 100vh;
  z-index: 1100;
}
.skills{
  width: 100vw; height: 100vh;
  position: relative;
  font-family: 'DungGeunMo';
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.skills>h2{
  position: absolute;
  color: #eaeaea;
  font-size: 50px;
}

.circle_L{
  position: absolute;
  transform-origin: center/center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 43vw; height: 43vw;
  border: 1px solid #eaeaea;
  border-radius: 50%;
  animation: large linear 20s infinite;
}
@keyframes large {
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}

.circle_L img{
  width: 3vw; height: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: center/center;
  animation: Limgs linear 20s infinite;
}
@keyframes Limgs {
  0%{transform: rotate(360deg);}
  100%{transform: rotate(0deg);}
}

.circle_L>img:nth-of-type(1){
  position: relative; left: 63%; top: -25%;
}
.circle_L>img:nth-of-type(2){
  position: relative; right: 37%;
}
.circle_L>img:nth-of-type(3){
  position: relative; left: 46%; top: 30%;
}
.circle_L>img:nth-of-type(4){
  position: relative; left: 5%; top: 50%;
}
.circle_L>img:nth-of-type(5){
  position: relative; right: 47%; top: 30%;;
}
.circle_L>img:nth-of-type(6){
  position: relative; bottom: 48%;
}
.circle_L>img:nth-of-type(7){
  position: relative; right: 40%; bottom: 46%;
}

.circle_S{
  position: absolute;
  transform-origin: center/center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32vw; height: 32vw;
  border: 1px solid #eaeaea;
  border-radius: 50%;
  animation: small linear 15s infinite;
}
@keyframes small {
  0%{transform: rotate(360deg);}
  100%{transform: rotate(0deg);}
}

.circle_S img{
  width: 3vw; height: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: center/center;
  animation: Simgs linear 15s infinite;
}
.circle_S>img:nth-of-type(1){
  position: relative; left: 63%; top: 10%;
}
.circle_S>img:nth-of-type(2){
  position: relative; right: 25%; top: 40%;
}
.circle_S>img:nth-of-type(3){
  position: relative; bottom: 27%; right: 47%;
}
.circle_S>img:nth-of-type(4){
  position: relative; bottom: 47%;
}
@keyframes Simgs {
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}
.tab{
  z-index: 1;
  position: absolute; top: 500px; left: 50%;
  transform: translateX(-50%);
}
.tab>img{
  width: 7.8vw;
  cursor: pointer;
}

/* 스킬 모달창 */
.skillModal{
  z-index: 1100;
  width: 78vw; height: 80vh;
  position: absolute; left: 50%; top: 12vh;
  transform: translateX(-50%);
  background-color: #000;
  border-radius: 10px;
}
.skillModal.active{
  animation: up 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
}
@keyframes up {
  0%{margin-top: 500px; opacity: 0;}
  100%{margin-top: 0; opacity: 1;}
}
.skillModal>h4{
  font-size: 30px;
  position: absolute; top: 30px; left: 50%;
  transform: translateX(-50%);
  margin: 0;
  color: #fff;
}
.skillModal>ul{
  position: absolute; left: 50%; top: 0;
  transform: translateX(-50%);
  width: 98%; height: 96%;
  border: 1px solid #eaeaea;
  padding: 50px;
  box-sizing: border-box;
}
.skillModal>ul>li{
  list-style: none;
  color: #fff;
  line-height: 2vw;
  font-size: 15px;
}
.skillModal>ul>li>span{
  display: block;
  position: absolute; left: 120px;
  transform: translateY(-35px);
  padding-right: 30px;
  line-height: 25px;
}
.skillModal>ul>li:nth-of-type(5)>span{
  left: 190px;
}

.skillModal img{
  position: relative; top: 20px;
  margin-right: 20px;
  width: 50px; height: 50px;
}

.skillModal>.backBtn{
  position: absolute; bottom: 5%; left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  padding: 3px;
  border-radius: 5px;
}
.backBtn>button{
  background-color: transparent;
  border: 1px solid #b2b2b2;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: 'DungGeunMo';
  font-size: 1.2rem;
  color: #eaeaea;
  cursor: pointer;
}


/* tablet */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .skills>h2{
    font-size: 40px;
  }
  .tab>img{
    width: 10vw;
    margin-top: 10px;
  }
  .skillModal>ul>li{
    line-height: 40px;
  }
  .skillModal>ul>li>span{
    line-height: 15px;
  }
}


/* tablet */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .circle_L{
    width: 60vw; height: 60vw;
  }
  .circle_S{
    width: 45vw; height: 45vw;
  }
  .circle_L img, .circle_S img{
    width: 4vw; height: 4vw;
  }
}

/* mobile */
@media screen and (max-width: 768px) {
  .skills>h2{
    font-size: 30px;
  }
  .circle_L{
    width: 80vw; height: 80vw;
  }
  .circle_S{
    width: 52vw; height: 52vw;
  }
  .circle_L img, .circle_S img{
    width: 5vw; height: 5vw;
  }
  .tab>img{
    margin-top: 50px;
    width: 16vw;
  }
  .skillModal>h4{
    top: 25px;
    font-size: 20px;
  }
  .skillModal>ul{
    padding: 20px;
  }
  .skillModal>ul>li{
    line-height: 50px;
  }
  .skillModal>ul>li>span{
    left: 100px;
    line-height: 15px;
    font-size: 13px;
    transform: translateY(-55px);
  }
  .skillModal>ul>li:nth-of-type(5)>span{
    transform: translateY(-65px);
    left: 160px;
  }
  .tab{
    top: 450px;
  }
}